* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Viga', sans-serif;
}

body {
  background-color: #700c27;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #b71540;
}

.logo {

  display: flex;
  align-items: center;
  background-color: #f6b93b;
  padding: 5px;

}

header a {
  text-decoration: none;
  color: #2d3436;
}
.logo img {
  height: 6.5vh;
}

.logo h1 {
  font-family: 'Bebas Neue';
  padding-top: 3px;
  font-size: 2.5rem;
}

.nav__bar {
  display: flex;
  width: 55%;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}

.nav__bar a {
  text-decoration: none;
  color: #ecf0f1;
  background-color: #e55039;
  padding: 2px 8px;
  border-radius: 30px;
  border-bottom: 2px solid #2d3436;
}

.nav__bar form {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.nav__bar form input:nth-child(1){
  text-decoration: none;
  color: #2d3436;
  background-color: #ecf0f1;;
  width: 100%;
  padding: 1vh 2%;
  border-radius: 30px;
  border-bottom: 2px solid #2d3436;
  margin-right: 3%;
}

.nav__bar form input:nth-child(2){
  text-decoration: none;
  color: #2d3436;
  background-color: #ecf0f1;
  padding: 1vh 2%;
  border-radius: 30px;
  border-bottom: 2px solid #2d3436;
}

.fa-search{
  color:#2d3436;
  background-color: #ecf0f1;
  font-size: 1rem;
  cursor: pointer;
}

main {
  background-color: #700c27;
  display: flex;
  flex-wrap: wrap;
}

main h2 {
  color: #ecf0f1;
  text-align: center;
  padding: 1vh 0;
  width: 100%;  
  text-transform: uppercase;
}

main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main section a {
  display: flex; 
  width: 20%;
  margin: 10px;
  text-decoration: none;
}
main article {
  background-color: #f6b93b;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.movie__article:hover {
  transform: scale(1.02);
  transition: 0.3s;

}

main article a {
  width: 10%;
  text-decoration: none;
}
main article img {
  width: 90%;
  margin-top: 1vh;
}
main article p {
  color:#2d3436;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie__detail {
  width: 100%;
}

.movie__detail article {
  width: 40%;
}

.movie__detail article:hover {
  scale: 1;
}

.movie__detail img {
  width: 40%;
}

.movie__detail p {
  margin: 5vh 1%;
  font-size: 2rem;
}

.create__form {
  display: flex;
  flex-direction: column;
  color: #ecf0f1;
}

.detail__buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.detail__buttons button {
  background-color: #700c27;
  color: #ecf0f1;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  transition: 0.3s;
  border-radius: 10px;
  border-bottom: 2px solid #2d3436;
}

.detail__buttons button:hover {
  background-color: #b71540;

}

.detail__buttons a {
  width: 20%;
}

.index__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.index__section button {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #f6b93b;
  color: #2d3436;
  transition: 0.3s;
  cursor: pointer;
}

.index__section button:hover{
  background-color: #e55039
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .nav__bar{
    width: 100%;
  }
  main section a {
    width: 40%;
  }
}

@media (max-width: 375px) {
  .logo {
    justify-content: center;
  }
  main section a {
    width: 100%;
  }
  .nav__bar {
    flex-direction: column;
  }
  .nav__bar a {
    width: 100%;
    text-align: center;
    margin: 5px;
  }
  .nav__bar form {
    width: 100%;
  }
}

.main__form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__form form {
  width: 35%;
  padding: 10px;
  background-color: #f6b93b;
  border-radius: 10px;
  color: black;
}

.main__form form input {
  padding: 5px;
  border-radius: 5px;
}

.main__form form select {
  padding: 5px;
  border-radius: 5px;
}

.main__form form select option {
  padding: 5px;
}