<!DOCTYPE html>
<html>

<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <main>
        <h2>¡Toda la información sobre tus películas favoritas!</h2>
        <section class="index__section">
            <a href="/movies"><button>Ver Películas</button></a>
            <a href="/actors"><button>Conoce a los Actores</button></a>
            <a href="/create"><button>Sube tu Película</button></a>
        </section>
    </main>
</body>

</html>