<head>
    <title>Cinema Time | <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/68b3cfeb34.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
</head>