<header>
    <a href="/">
        <div class="logo">
            <h1>Cinema Time</h1>
            <img src="/images/logo-ct.webp" alt="logo" class="navicon">
        </div>
    </a>
    <nav class="nav__bar">
        <a href="/movies/recommended">Recomendadas</a>
        <a href="/movies/new">Estrenos</a>
        <form action="/movies/search" method="POST">
            <input type="text" name="results" placeholder="Buscar películas...">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </nav>
</header>